{% extends "layout.html" %}

{% block title %}
    Hard English
{% endblock %}

{% block main %}
    <div class="container">
        <div id="timer"></div><br>
        <div class="row">
            <div class="col-12">
                <h5>Choose the answer to each question that most effectively improves the quality of writing in the passage.</h5>
                <p class="text-primary">The Consolations of Philosophy :
                    Long viewed by many as the stereotypical useless major, philosophy is now being seen by many students
                    and prospective employers as in fact a very useful and practical major, offering students a host of transferable
                    skills with relevance to the modern workplace. (1) <b>In broad terms,</b> philosophy is the study of meaning and the
                    values underlying thought and behavior. But (2) <b>more pragmatically,</b> the discipline encourages students to
                    analyze complex material, question conventional beliefs, and express thoughts in a concise manner.
                    Because philosophy (3) <b>teaching</b> students not what to think but how to think, the age-old discipline offers
                    consistently useful tools for academic and professional achievement. (4) <b>A 1994 survey concluded that only
                    18 percent of American colleges required at least one philosophy course.</b> (5) <b>Therefore</b>, between 1992 and
                    1996, more than 400 independent philosophy departments were eliminated from institutions.
                </p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>1. </h5><br>
                <label>
                    <input type="radio" name="radio1" checked="" id="incorrect"><span>In contrast</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>For example</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>NO CHANGE</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>Nonetheless</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>Nevertheless</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>2.</h5><br>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>NO CHANGE</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>speaking in a more pragmatic way</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>speaking in a way more pragmatically</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>in a more pragmatic-speaking way</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>3. </h5><br>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>teaches</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>and teaching</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>to teach</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>NO CHANGE</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. Which choice most effectively sets up the information that follows?</h5><br>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Consequently, philosophy students have been receiving an increasing number of job offers</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Therefore, because of the evidence, colleges increased their offerings in philosophy</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Not withstanding the attractiveness of this course of study, students have resisted majoring in philosophy</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="correct"><span>However, despite its many utilitarian benefits, colleges have not always supported the study of philosophy</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>5.</h5><br>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>NO CHANGE</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>However</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>Thus</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="correct"><span>Moreover</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>6. Transcribe the phonetics into words : / g3:l / </h5><br>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Groin</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Get</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Girdle</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Gain</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="correct"><span>Girl</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>7. Choose the -au sound word</h5><br> 
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>Aerodynamic</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="correct"><span>Sauce</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>Ambiguity</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>Annual</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>Ambidextrous</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>8. I stopped watching the game before the end, because I thought we ______ .</h5><br>
                <label>
                    <input type="radio" name="radio8" id="correct"><span>had won</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>have won</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>have been winning</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>will have won</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>9. Choose the -ai sound word</h5><br>
                <label>
                    <input type="radio" name="radio9" id="correct"><span>Appraisal</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Anaerobic</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Ambiguity</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Fracture</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Antidote</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>10. I think Mr Wilson ______ in this school since 2005 or maybe earlier</h5><br>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>teaches</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>is teaching</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>has taught</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>taught</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>have teached</span>
                </label>
            </div>
        </div><br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script src="/static/js/score.js"></script>
{% endblock %}
