{% extends "layout.html" %}

{% block title %}
    Easy English
{% endblock %}

{% block main %}
    <div class="container">
        <div id="timer"></div><br>
        <div class="row">
            <div class="col-12">
                <h5>1. The letters of the words below are jumbled. Figure out what the word is and write it on the blank line provided.  ANIODSMSI ______</h5><br>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>Specific</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>Octopus</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>Admission</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>2. Choose the correct question tag: We are eating something delicious, ______ .</h5><br>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>aren't we?</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>are we?</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>are they not?</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>3. Choose the correct homophone : We did not want to ______ the food so we shared it with our neighbors.</h5><br>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Waist</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>Waste</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Wayst</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. The letters of the words below are jumbled. Figure out what the word is and write it on the blank line provided.  ATRILPA ______</h5><br>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Spatial</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Martial</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>Partial</span>
                </label>
            </div>
        </div><br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script src="/static/js/score.js"></script>
{% endblock %}
