{% extends "layout.html" %}

{% block title %}
    Intermediate English
{% endblock %}

{% block main %}
    <div class="container">
        <div id="timer"></div><br>
        <div class="row">
            <div class="col-12">
                <h5>1. Rewrite the sentences using correct punctuation and capitalization : when we were reading the book gone with the wind my teacher said this is an advanced book but you can read it without any problems</h5><br>
                <label>
                    <input type="radio" checked="" name="radio1" id="incorrect"><span>When we were reading the book gone with the wind, my teacher said this is an advanced book but you can read it without any problems.</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>When we were reading the book Gone with the Wind my teacher said this is an advanced book but you can read it without any problems</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>when we were reading the book gone with the wind, my teacher said, "this is an advanced book, but you can read it without any problems."</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>When we were reading the book Gone With the Wind, my teacher said, “This is an advanced book, but you can read it without any problems.”</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>2. Write the word that best matches : Mischievous</h5><br>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Trouble</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Absurd</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>Boisterous</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Ineligible</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>3. Define Personify</h5><br>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>To represent or portray someone or something as a person</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>To embody or exemplify a specific trait or quality</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>To transform into an actual person</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>To impersonate or imitate another person</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. ______ is to make clear in speech or writing.</h5><br>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Hide</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="correct"><span>Explain</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Confuse</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Vague</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>5. Rewrite the sentences using correct punctuations and capitalization : tonight we have to read three chapters the lady in red the man in yellow and the boy in blue</h5><br>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>"tonight we have to read three chapters: the boy in green the girl in purple and the dog in brown"</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>tonight we have to read Three chapters; the scientist in white the alien in green and the robot in silver."</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="correct"><span>Tonight, we have to read three chapters: “The Lady in Red,” “The Man in Yellow,” and “The Boy in Blue.”</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>"Tonight we have to read Three chapters. The princess in pink the knight in shining armor and the dragon in black."</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>6. Write the opposite of the word : Fill</h5><br>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Tremble</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Margin</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Internal</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="correct"><span>Excavate</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>7. Define Ambiguity</h5><br>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>the act of climbing a mountain with great determination and strength</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>the ability to understand and communicate effectively in multiple languages</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>a medical condition characterized by blurred vision and difficulty focusing on objects</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="correct"><span>a state of uncertainty or vagueness in meaning</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>8. Write the opposite of the word : Humility</h5><br>                
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Protective</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Ideal</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>Arrogance</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Wicked</span>
                </label>
            </div>
        </div><br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script src="/static/js/score.js"></script>
{% endblock %}
