{% extends "layout.html" %}

{% block title %}
    Intermediate Maths
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>1. Find the volume and surface area</h5><br>
                <img class="img-fluid" src="/static/maths_intermediate geometry1.PNG">
                <br><br>
                <label>
                    <input type="radio" name="radio1" checked="" id="incorrect"><span>V = 230.91 in³ SA = 209 in²</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>V = 8 in³ SA = 29.6 in²</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>V = 1 in³ SA = 65 in²</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>V = 196 in³ SA = 240.2 in²</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>2. Find the volume and surface area of this rectangular prism</h5><br>
                <img class="img-fluid" src="/static/maths_intermediate geometry2.PNG"><br>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>V = 202 7/12 ft³ SA = 207 1/2 ft²</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>V = 31 1/4 yd³ SA = 60 5/12 yd²</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>V = 286 47/48 yd³ SA =  261 5/8 yd²</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>V = 314 22/27 ft³ SA = 281 1/9 ft²</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>3. Solve the following expression : (-222)<sup>0</sup> + 0<sup>222</sup></h5><br>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>1</span>
                </label>
                <label>
                    <input type="radio" name="radio3"  id="incorrect"><span>377</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>-12</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>0</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. Solve the following equation : (9/7)<sup>2</sup> + (2/7)<sup>3</sup> = ?</h5><br>
                <label>
                    <input type="radio" name="radio4"  id="incorrect"><span>15.625</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="correct"><span>575/343</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>15.2²</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>11/7</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>5. Each parking spot is 8 feet wide. A parking lot has 24 parking
                    spots side by side. What is the width (measured in yards) of the
                    parking lot? </h5><br>
                <label>
                    <input type="radio" name="radio5"  id="incorrect"><span>18 yards</span>
                </label> 
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>50 yards</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="correct"><span>64 yards</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>22 yards</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>6. A piece of ribbon is y cm long. Ashley cut it into 4 equal pieces
                    to do her 4 sisters' hair. Write the expression for the amount of
                    ribbon used for each sister</h5><br>
                <label>
                    <input type="radio" name="radio6"  id="incorrect"><span>14 - y</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>16/y</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>19 + y</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="correct"><span>y/4</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>7. Norah bought 2 bottles of water, each with a capacity of
                    500ml. After Norah and her sister each drank z ml from the
                    bottles, they have total of 340 ml of water left. Find z</h5><br>
                <label>
                    <input type="radio" name="radio7"  id="incorrect"><span>z = 65</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>z = 30</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>z = 12</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="correct"><span>z = 330</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>8. Josh mixed 2 cartons of orange juice, 3 bottles of soda water
                    and 6 cans of cocktail fruits to make a fruit punch for the
                    Christmas party. Each carton of juice is 1 gallon and 3 quarts.
                    Each soda water bottle contains 6 quarts. The cans of cocktail
                    fruit are 2 pints each. How much (measured in gallons) of fruit
                    punch did Josh made?</h5><br>
                <label>
                    <input type="radio" name="radio"  id="incorrect"><span>Josh made 7.5 gallons of fruit punch</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Josh made 15 gallons of fruit punch</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>Josh made 9.5 gallons of fruit punch</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Josh made 5 gallons of fruit punch</span>
                </label> 
            </div>
        </div>
        <br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script>
        $(document).ready(function() {
            let scoreCount = 0; // Get number of correct keys pressed
            let pageTitle = document.title;  // Get the current page title

            // Function to handle button clicks
            $("input").on("click", function() {
                if ($(this).attr("id") === "correct") {
                    scoreCount++;
                }
            });

            // Function to submit the scores when "Submit" button is clicked
            $("#submit-btn").click(function() {
                // Send the scoreCount to the Flask backend
                $.ajax({
                    type: "POST",
                    url: "/submit-scores", 
                    data: { 
                        score: scoreCount,
                        title: pageTitle 
                    },
                    success: function(response) {
                        // Handle the response from the server if needed
                        alert("Scores have been submitted successfully!");
                        window.location = "/scores" //redirect
                    },
                    error: function(error) {
                        // Handle the error if the request fails
                        alert("Error submitting scores: " + error.statusText);
                    }
                });
            });
        });
    </script>
{% endblock %}
