{% extends "layout.html" %}

{% block title %}
    Hard Maths
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>1. In how many ways can the letters of the word 'LEADER' be arranged?</h5><br>
                <label>
                    <input type="radio" name="radio1" checked="" id="incorrect"><span>72</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>144</span>
                </label> 
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>720</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>360</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>None of these</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>2. There is 60% increase in an amount in 6 years at simple interest. What will be the compound interest of Rs. 12,000 after 3 years at the same rate?</h5><br>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>$ 2160</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>$ 1000</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>$ 3972</span>
                </label> 
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>$ 6240</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>$ 3120</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>3. A group consists of 4 girls and 7 boys. In how many ways can a team of 5 members be selected if the team has: i) no girls , ii) at least one boy and one girl , ii) at least three girls</h5><br>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>i = 21, ii = 441, iii = 91</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>i = 10.5, ii = 333, iii = 75</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>i = 55, ii = 100, iii = 80</span>
                </label> 
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>i = 66, ii = 41, iii = 1</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>i = 15, ii = 200, iii = 10</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. Solve the simultaneous equations  y=-x+2 and  y=-3x-2 using the graph below</h5><br>
                <img class="img-fluid" src="/static/maths_hard simultaneous eq.PNG"><br>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>The solution is (4, -4)</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>The solution is (3, 5)</span>
                </label> 
                <label>
                    <input type="radio" name="radio4" id="correct"><span>The solution is (-2, 4)</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>The solution is (-1, 1)</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>The solution is (2, 6)</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>5. Solve the following by factorisation : 30x² - 12x = 0 </h5><br>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>x = 0 or  x = -4</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>x = -9/5 or  x = 9/5</span>
                </label> 
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>x = -8 or  x = -4</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="correct"><span>x = 0 or  x = 2/5</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>x = -4 or  x = 4</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>6. Given the formula  x=(-b±√(b^2-4ac))/2a solve the following quadratic equation. Leaving your answers to 3 significant figures. 2x²-4x-2=0 </h5><br>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>x = -2.41 or  x = 0.414</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>x = 1.08 or  x = -1.48</span>
                </label> 
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>x = 3.68 or  x = -0.679</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>x = 0.881 or  x = -0.681</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="correct"><span>x = 2.41 or  x = -0.414</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>7. Solve the following using the quadratic formula or by completing the square, leaving your answers to 3 significant figures. 5c^2+2c-8=0</h5><br>
                <label>
                    <input type="radio" name="radio7" id="correct"><span>c = 1.08 or  c = -1.48</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>c = 2.41 or  c = -0.414</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>c = 2.41 or  c = -0.414</span>
                </label> 
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>c = 3.68 or  c = -0.679</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>c = 0.881 or  c = -0.681</span>
                </label>  
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>8. A committee of 3 persons is to be constituted from a group of 2 men and 3 women. In how many ways can this be done? How many of these committees would consist of 1 man and 2 women?</h5><br>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>1 committee</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>20 committees</span>
                </label> 
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>10 committees</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="correct"><span>6 committees</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>3 committees</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>9. In how many different ways can the letters of the word 'CORPORATION' be arranged so that the vowels always come together?</h5><br>
                <label>
                    <input type="radio" name="radio9" id="correct"><span>50400 ways</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>2880 ways</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>5760 ways</span>
                </label> 
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>810 ways</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>1440 ways</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>10. Find both possible pairs of numbers if two numbers have a product of 14 and a difference of 5</h5><br>                
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>2 and 2 or -2 and -2</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>8 and 2 or -8 and -3</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>7 and 2 or -2 and -7</span>
                </label> 
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>10 and 6 or -10 and -6</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>91 and 36 or -91 and -36</span>
                </label>
            </div>
        </div><br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script>
        $(document).ready(function() {
            let scoreCount = 0; // Get number of correct keys pressed
            let pageTitle = document.title;  // Get the current page title

            // Function to handle button clicks
            $("input").on("click", function() {
                if ($(this).attr("id") === "correct") {
                    scoreCount++;
                }
            });

            // Function to submit the scores when "Submit" button is clicked
            $("#submit-btn").click(function() {
                // Send the scoreCount to the Flask backend
                $.ajax({
                    type: "POST",
                    url: "/submit-scores", 
                    data: { 
                        score: scoreCount,
                        title: pageTitle 
                    },
                    success: function(response) {
                        // Handle the response from the server if needed
                        alert("Scores have been submitted successfully!");
                        window.location = "/scores" //redirect
                    },
                    error: function(error) {
                        // Handle the error if the request fails
                        alert("Error submitting scores: " + error.statusText);
                    }
                });
            });
        });
    </script>
{% endblock %}
