{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>Register for an Account</h2><br><br>
    <form action="/register" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="username">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="text-secondary">{{ msg }}</div>
        <br>
        <button class="btn btn-outline-primary" type="submit">Register</button>
        <br> <br>
        <a href="/login">You already have an account? Log in</a>
    </form>
{% endblock %}
