{% extends "layout.html" %}

{% block title %}
    Hard Science
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>1. Weight is a measure of ______ .</h5><br>
                <label>
                    <input type="radio" name="radio1" checked="" id="incorrect"><span>Your mass</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="correct"><span>The gravitational attraction between you and Earth</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>Mechanical equilibrium</span>
                </label>
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>All of these</span>
                </label>              
                <label>
                    <input type="radio" name="radio1" id="incorrect"><span>None of these</span>
                </label>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>2. Sound waves with a frequency above 20,000 Hz are referred to as ______ .</h5><br>
                <label>
                    <input type="radio" name="radio2" id="correct"><span>Ultrasonic waves</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Sonic booms</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Infrasonic waves</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>Doppler waves</span>
                </label>
                <label>
                    <input type="radio" name="radio2" id="incorrect"><span>None of these</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>3. What system plays a vital role in the existence of the human species?</h5><br>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Respiratory system</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Digestive system</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="correct"><span>Reproductive system</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Cardiovascular system</span>
                </label>
                <label>
                    <input type="radio" name="radio3" id="incorrect"><span>Nervous system</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>4. Earth's core is made of ______ .</h5><br>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Helium and Hydrogen</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Carbon and Helium</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Not withstanding the attractiveness of this course of study, students have resisted majoring in philosophy</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="correct"><span>Nickel and Iron</span>
                </label>
                <label>
                    <input type="radio" name="radio4" id="incorrect"><span>Carbon and Iron</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>5. The relationship between a clownfish and a sea anemone benefits both animals. This is an example of ______ .</h5><br>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>Friends</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>Commensalism</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>Parasitism</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="correct"><span>Mutualism</span>
                </label>
                <label>
                    <input type="radio" name="radio5" id="incorrect"><span>Predator / Prey  </span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>6. A force applied to a body is said to do "work" ______ .</h5><br>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>When the body is static</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Only when the body is moving</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>If the body is displaced in the direction opposite to the applied force</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="incorrect"><span>Even if the body does not move</span>
                </label>
                <label>
                    <input type="radio" name="radio6" id="correct"><span>If the body is displaced in the direction of the applied force</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>7. According to second law of thermodynamics, heat energy cannot be completely converted into useful work owing to ______ .</h5><br> 
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>The translational energy of the system</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="correct"><span>The entropy of the system</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>The enthalpy of the system</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>The internal energy of the system</span>
                </label>
                <label>
                    <input type="radio" name="radio7" id="incorrect"><span>The conductivity of the system</span>
                </label> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>8. What is phylogeny?</h5><br>
                <label>
                    <input type="radio" name="radio8" id="correct"><span>History of evolution of organisms (tree diagram)</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>The plant kingdom</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>Order of taxa</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>Two-part key used to identify organisms by their physical features</span>
                </label>
                <label>
                    <input type="radio" name="radio8" id="incorrect"><span>The science of classifying and naming organisms</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>9. Which base is present in DNA but not RNA?</h5><br>
                <label>
                    <input type="radio" name="radio9" id="correct"><span>Thymine</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Adenine</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Guanine</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Uracil</span>
                </label>
                <label>
                    <input type="radio" name="radio9" id="incorrect"><span>Cytosine</span>
                </label>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <h5>10. Which type of energy is released when an ionic solid is dissolved in water?</h5><br>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Lattice energy</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Solvation energy</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="correct"><span>Hydration energy</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Crystal energy</span>
                </label>
                <label>
                    <input type="radio" name="radio" id="incorrect"><span>Liquid Energy</span>
                </label>
            </div>
        </div><br>
        <button class="btn btn-outline-primary" id="submit-btn" type="submit">Submit</button>
    </div>

    <script>
        $(document).ready(function() {
            let scoreCount = 0; // Get number of correct keys pressed
            let pageTitle = document.title;  // Get the current page title

            // Function to handle button clicks
            $("input").on("click", function() {
                if ($(this).attr("id") === "correct") {
                    scoreCount++;
                }
            });

            // Function to submit the scores when "Submit" button is clicked
            $("#submit-btn").click(function() {
                // Send the scoreCount to the Flask backend
                $.ajax({
                    type: "POST",
                    url: "/submit-scores", 
                    data: { 
                        score: scoreCount,
                        title: pageTitle 
                    },
                    success: function(response) {
                        // Handle the response from the server if needed
                        alert("Scores have been submitted successfully!");
                        window.location = "/scores" //redirect
                    },
                    error: function(error) {
                        // Handle the error if the request fails
                        alert("Error submitting scores: " + error.statusText);
                    }
                });
            });
        });
    </script>
{% endblock %}
