{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block main %}
    <h2>{{ name }}'s Scores</h2><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Level / Subject</th>
                <th scope="col">Math</th>
                <th scope="col">English</th>
                <th scope="col">Science</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <th>Easy</th>
                <td>{{ score[3] if score[3] else '0' }}%</td>
                <td>{{ score[6] if score[6] else '0' }}%</td>
                <td>{{ score[9] if score[9] else '0' }}%</td>
            </tr>
            <tr>
                <th>Intermediate</th>
                <td>{{ score[4] if score[4] else '0' }}%</td>
                <td>{{ score[7] if score[7] else '0' }}%</td>
                <td>{{ score[10] if score[10] else '0' }}%</td>
            </tr>
            <tr>
                <th>Hard</th>
                <td>{{ score[5] if score[5] else '0' }}%</td>
                <td>{{ score[8] if score[8] else '0' }}%</td>
                <td>{{ score[11] if score[11] else '0' }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <button class="btn btn-outline-primary" type="submit" id="reset-btn">Reset</button> <br/>
    <a href="/"><button class="btn btn-outline-primary mt-3">Take Another Test</button></a>
    <script src="/static/js/reset_scores.js"></script>
{% endblock %}