{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block main %}
    <h2>{{ name }}'s Scores</h2><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Level / Subject</th>
                <th scope="col">Math</th>
                <th scope="col">English</th>
                <th scope="col">Science</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <th>Easy</th>
                <td>{{ score.maths_easy if score.maths_easy != None else '0' }}%</td>
                <td>{{ score.english_easy if score.english_easy != None else '0' }}%</td>
                <td>{{ score.science_easy if score.science_easy != None else '0' }}%</td>
            </tr>
            <tr>
                <th>Intermediate</th>
                <td>{{ score.maths_intermediate if score.maths_intermediate != None else '0' }}%</td>
                <td>{{ score.english_intermediate if score.english_intermediate != None else '0' }}%</td>
                <td>{{ score.science_intermediate if score.science_intermediate != None else '0' }}%</td>
            </tr>
            <tr>
                <th>Hard</th>
                <td>{{ score.maths_hard if score.maths_hard != None else '0' }}%</td>
                <td>{{ score.english_hard if score.english_hard != None else '0' }}%</td>
                <td>{{ score.science_hard if score.science_hard != None else '0' }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <button class="btn btn-outline-primary" type="submit" id="reset-btn">Reset</button> <br/>
    <a href="/"><button class="btn btn-outline-primary mt-3">Take Another Test</button></a>
    <script src="/static/js/reset_scores.js"></script>
{% endblock %}